*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
    background-color: rgb(202, 169, 234);

}
main{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.321);
}

h1, h2{
    color: rgb(99, 0, 192);
}

img.lado{
    float: right;
    width: 120px;
    height: 120px;
}