*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
    background-color: rgb(202, 169, 234);

}
.principal{
    background-color: white;
    width: auto;
    
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.321);
}

h1, h2{
    color: rgb(99, 0, 192);
}